orchestration/MAESTRO_CAPAS.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "MicrosoftOutlook edinson.aguilar": {
      "type": "string"
    },
    "LH_GOLD_PRUEBA": {
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "MAESTRO_CAPAS",
      "type": "pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "Capa Bronze",
            "type": "TridentNotebook",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "notebookId": "7c253776-cffe-466d-9eb3-8b88577a70f4",
              "workspaceId": "ade8ea43-56d4-4c3c-a5ba-110969bbd4c1",
              "parameters": {
                "batch_id": {
                  "value": {
                    "value": "@concat('batch_', formatDateTime(addHours(utcNow(), -5), 'yyyyMMdd_HHmmss'))",
                    "type": "Expression"
                  },
                  "type": "string"
                }
              }
            }
          },
          {
            "name": "Capa Silver",
            "type": "TridentNotebook",
            "dependsOn": [
              {
                "activity": "Capa Bronze",
                "dependencyConditions": ["Succeeded"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "notebookId": "887e3acb-fd01-4e8f-9fe9-646601f05cd7",
              "workspaceId": "ade8ea43-56d4-4c3c-a5ba-110969bbd4c1"
            }
          },
          {
            "name": "Capa Gold",
            "type": "TridentNotebook",
            "dependsOn": [
              {
                "activity": "Capa Silver",
                "dependencyConditions": ["Succeeded"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "notebookId": "5df703d9-f4b8-4be4-a668-7a686dab0c04",
              "workspaceId": "ade8ea43-56d4-4c3c-a5ba-110969bbd4c1"
            }
          },
          {
            "name": "Prueba Calidad",
            "type": "TridentNotebook",
            "dependsOn": [
              {
                "activity": "Capa Gold",
                "dependencyConditions": ["Succeeded"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "notebookId": "8ef95986-33ec-40e4-97a9-bb3ec879b1a2",
              "workspaceId": "ade8ea43-56d4-4c3c-a5ba-110969bbd4c1"
            }
          },
          {
            "name": "Log de Monitoreo",
            "type": "TridentNotebook",
            "dependsOn": [
              {
                "activity": "Prueba Calidad",
                "dependencyConditions": ["Succeeded"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "notebookId": "0774b14d-a629-4958-a293-da5bd5f89b39",
              "workspaceId": "ade8ea43-56d4-4c3c-a5ba-110969bbd4c1"
            }
          },
          {
            "name": "Resumen Diario",
            "type": "TridentNotebook",
            "dependsOn": [
              {
                "activity": "Log de Monitoreo",
                "dependencyConditions": ["Succeeded"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 3,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "notebookId": "5b1719cd-16e1-4c54-adc8-d13a68153f4b",
              "workspaceId": "ade8ea43-56d4-4c3c-a5ba-110969bbd4c1"
            }
          },
          {
            "name": "Alerta Capa Bronze",
            "type": "Office365Email",
            "dependsOn": [
              {
                "activity": "Capa Bronze",
                "dependencyConditions": ["Failed"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "to": "edinson.aguilar@est.uexternado.edu.co",
              "subject": "Fallo en Capa Bronze",
              "body": "@concat(\n'🚨 ALERTA PIPELINE FALLIDO 🚨\\n\\nPipeline (DAG): ', pipeline().Pipeline, '\\nActividad: Capa Bronze\\nEstado: ', activity('Capa Bronze').Status, '\\nFecha/Hora (Bogotá): ', convertFromUtc(utcNow(),'SA Pacific Standard Time'), '\\n\\nError:\\n', activity('Capa Bronze').Error.Message\n)"
            },
            "externalReferences": {
              "connection": "[parameters('MicrosoftOutlook edinson.aguilar')]"
            }
          },
          {
            "name": "Alerta Capa Silver",
            "type": "Office365Email",
            "dependsOn": [
              {
                "activity": "Capa Silver",
                "dependencyConditions": ["Failed"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "to": "edinson.aguilar@est.uexternado.edu.co",
              "subject": "Fallo en Capa Silver",
              "body": "<p>🚨 ALERTA PIPELINE FALLIDO 🚨Pipeline (DAG): @pipeline().PipelineActividad: @activity('Capa Silver').nameEstado: @activity('Capa Silver').StatusFecha/Hora (Bogotá): @convertFromUtc(utcNow(),'SA Pacific Standard Time')Error:@activity('Capa Silver').Error.Message</p>"
            },
            "externalReferences": {
              "connection": "[parameters('MicrosoftOutlook edinson.aguilar')]"
            }
          },
          {
            "name": "Alerta Capa Gold",
            "type": "Office365Email",
            "dependsOn": [
              {
                "activity": "Capa Gold",
                "dependencyConditions": ["Failed"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "to": "edinson.aguilar@est.uexternado.edu.co",
              "subject": "Fallo en Capa Gold",
              "body": "<p>🚨 ALERTA PIPELINE FALLIDO 🚨Pipeline (DAG): @pipeline().PipelineActividad: @activity('Capa Gold').nameEstado: @activity('Capa Gold').StatusFecha/Hora (Bogotá): @convertFromUtc(utcNow(),'SA Pacific Standard Time')Error:@activity('Capa Gold').Error.Message</p>"
            },
            "externalReferences": {
              "connection": "[parameters('MicrosoftOutlook edinson.aguilar')]"
            }
          },
          {
            "name": "LookupResumen",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "Resumen Diario",
                "dependencyConditions": ["Succeeded", "Failed"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "source": {
                "type": "LakehouseTableSource"
              },
              "firstRowOnly": false,
              "datasetSettings": {
                "annotations": [],
                "linkedService": {
                  "name": "LH_GOLD_PRUEBA",
                  "properties": {
                    "annotations": [],
                    "type": "Lakehouse",
                    "typeProperties": {
                      "workspaceId": "ade8ea43-56d4-4c3c-a5ba-110969bbd4c1",
                      "artifactId": "[parameters('LH_GOLD_PRUEBA')]",
                      "rootFolder": "Tables"
                    }
                  }
                },
                "type": "LakehouseTable",
                "schema": [],
                "typeProperties": {
                  "schema": "dbo",
                  "table": "log_ejecuciones_pipeline"
                }
              }
            }
          },
          {
            "name": "Alerta Resumen Diario",
            "type": "Office365Email",
            "dependsOn": [
              {
                "activity": "LookupResumen",
                "dependencyConditions": ["Succeeded"]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "to": "edinson.aguilar@est.uexternado.edu.co",
              "subject": "@concat('✅ Resumen diario - ', activity('LookupResumen').output.value[0].fecha_ejecucion)",
              "body": "@concat( '<h3>📊 Resumen diario del pipeline</h3>', '<p><strong>Fecha ejecución:</strong> ', activity('LookupResumen').output.value[0].fecha_ejecucion, '</p>', '<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\">', '<tr><th>Capa</th><th>Registros</th></tr>', '<tr><td>Bronze</td><td>', string(activity('LookupResumen').output.value[0].registros_bronze), '</td></tr>', '<tr><td>Silver</td><td>', string(activity('LookupResumen').output.value[0].registros_silver), '</td></tr>', '<tr><td>Gold</td><td>', string(activity('LookupResumen').output.value[0].registros_gold), '</td></tr>', '<tr><td>Alertas de calidad</td><td>', string(activity('LookupResumen').output.value[0].alertas_calidad), '</td></tr>', '<tr><td>Errores pipeline (hoy)</td><td>', string(activity('LookupResumen').output.value[0].errores_pipeline), '</td></tr>', '</table>', '<p><strong>Estado final:</strong> ', activity('LookupResumen').output.value[0].estado, '</p>' )"
            },
            "externalReferences": {
              "connection": "[parameters('MicrosoftOutlook edinson.aguilar')]"
            }
          }
        ],
        "parameters": {
          "batch_id": {
            "type": "string",
            "defaultValue": "@concat('batch_', formatDateTime(addHours(utcNow(), -5), 'yyyyMMdd_HHmmss'))"
          }
        },
        "variables": {
          "batch_id": {
            "type": "String"
          }
        },
        "lastModifiedByObjectId": "a2eea075-8774-414e-82bf-711672d48185",
        "lastPublishTime": "2026-04-07T02:20:29Z"
      },
      "dependsOn": []
    }
  ]
}